section.weatherSection {
    margin-block-start: 20px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    h3 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
    }
}